<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('navigation.ejs') %>
    <div class="container">
      <div class="jumbotron">
        Hello, world!  
      </div>
      
    <div>
        <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>