<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sunshine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <%for(let index = 0;index < navItems.length; index++) { %>
        <li class="nav-item">
          <a class="nav-link" href="<%=navItems[index].link%>"><%=navItems[index].name%></a>
        </li>
      <%}%>
    </ul>
  </div>
</nav>