<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href= "/css/bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('navigation.ejs') %>
    <div class="container">
      <div class="jumbotron">
        <div>Product Id: <%=product.id%></div>
        <div>Product Name: <%=product.name%></div>
      </div>
      
    <div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>